<section class='stepper' data-test="stepper">
  {{#if (and (not-eq this.currentStep this.MIN_STEP) (not-eq this.currentStep 7))}}
  <NewJoinSteps::StepperHeader @currentStep={{this.currentStep}} @totalSteps={{this.MAX_STEP}} />
  {{/if}}

  <form class="new-stepper__form">
    {{#if (eq this.currentStep this.MIN_STEP)}}
    <NewJoinSteps::WelcomeScreen />

    <div class="welcome-screen__actions">
      <Reusables::Button @text='Start' @variant='dark' @onClick={{this.startHandler}} @test='start' @type='button'
        @disabled={{not this.joinApplicationTerms.hasUserAcceptedTerms}} />
    </div>

      {{else if (eq this.currentStep 1)}}
        <NewJoinSteps::NewStepOne
          @onValidityChange={{this.onCurrentStepValidityChange}}
        />

      {{else if (eq this.currentStep 2)}}
        <NewJoinSteps::NewStepTwo
          @onValidityChange={{this.onCurrentStepValidityChange}}
          @heading={{this.currentHeading}}
          @subHeading={{this.currentSubheading}}
        />

      {{else if (eq this.currentStep 3)}}
        <NewJoinSteps::NewStepThree
          @onValidityChange={{this.onCurrentStepValidityChange}}
          @heading={{this.currentHeading}}
          @subHeading={{this.currentSubheading}}
        />

      {{else if (eq this.currentStep 4)}}
        <NewJoinSteps::NewStepFour
          @onValidityChange={{this.onCurrentStepValidityChange}}
          @heading={{this.currentHeading}}
          @subHeading={{this.currentSubheading}}
        />

      {{else if (eq this.currentStep 5)}}
        <NewJoinSteps::NewStepFive
          @onValidityChange={{this.onCurrentStepValidityChange}}
          @heading={{this.currentHeading}}
          @subHeading={{this.currentSubheading}}
        />

    {{else if (eq this.currentStep 6)}}
    <NewJoinSteps::NewStepSix @heading={{this.currentHeading}} @subHeading={{this.currentSubheading}}
      @navigateToStep={{this.navigateToStep}} @onSubmit={{this.handleSubmit}} />

    {{else if (eq this.currentStep 7)}}
    <NewJoinSteps::ThankYouScreen @firstName={{this.firstName}} @applicationId={{this.applicationId}}
      @onTrackApplication={{this.handleTrackApplication}} />
    {{/if}}
  </form>

  {{#if (and (not-eq this.currentStep this.MIN_STEP) (not-eq this.currentStep 7))}}
  <div class="new-stepper__buttons">
    {{#if this.showPreviousButton}}
    <Reusables::Button @text="Previous" @variant="light" @test="prev-btn" @type="button" @onClick={{this.decrementStep}}
      @class="prev-button" />
    {{/if}}

    <Reusables::Button @text={{if this.isReviewStep "Submit" "Next" }} @variant="dark" @class="next-button" @test={{if
      this.isReviewStep "submit-review" "next-btn" }} @type="button" @onClick={{if this.isReviewStep this.handleSubmit
      this.incrementStep}} @disabled={{not this.canProceedFromStep}} />
  </div>
  {{/if}}
</section>