<button
  data-test-application-card
  type="button"
  class="application-card application-card--{{@application}}"
  {{on "click" @onClick}}
>
  <div class="application-card__header">
    <div
      data-test-application-profile-pic
      class="application-card__profile-pic"
      aria-label="{{@application}} {{@application}}"
    ></div>
    <div class="application-card__info">
      <div data-test-application-name class="application-card__name">
        {{@application}}
        {{@application}}
      </div>
      <p data-test-application-role class="application-card__role">
        {{@application}}
      </p>
    </div>
  </div>

  <div class="application-card__body">
    <p data-test-application-location class="application-card__location">
      {{@application}},
      {{@application}}
    </p>
    <p data-test-application-skills class="application-card__skills">
      {{this.truncatedSkills}}
    </p>
    <div class="application-card__meta">
      <span
        data-test-application-status
        class="application-card__status application-card__status--{{@application}}"
      >
        {{@application}}
      </span>
      <span data-test-application-date class="application-card__date">
        {{@formatDate @application}}
      </span>
    </div>
  </div>
</button>