<div class="welcome-screen">
  <div class="welcome-screen__logo">
    <img
      src="assets/images/rds-logo.png"
      alt="RDS"
    />
  </div>

  <h1 class="stepper__greeting">Ready to apply to RDS?</h1>

  <div class="info-list">
    <div class="info-item--bullet">
      This form should take up to 10 mins to fill.
    </div>

    <div class="info-item--bullet">
      Keep your professional headshot ready.
    </div>

    <div class="info-item--bullet">
      Once filled, user will be able to view quests to increase their rankings and their selection chances.
    </div>
  </div>

  <div class="terms-section">
    <label class="checkbox-container" {{on "click" this.openModal}}>
      <input
        type="checkbox"
        checked={{this.isTermsAccepted}}
        readonly
      />
      <span class="checkbox-text">
        I accept the terms and conditions and understand that providing false information may result in application rejection.
      </span>
    </label>
  </div>

</div>

{{#if this.showModal}}
  <TermsModal
    @isOpen={{this.showModal}}
    @onAccept={{this.acceptTerms}}
    @onClose={{this.closeModal}}
  />
{{/if}}