<div class="step-container">
  <div class="form-header__text">
    <h1 class="section-heading" data-test-heading>{{@heading}}</h1>
    <p class="section-instruction" data-test-sub-heading>{{@subHeading}}</p>
  </div>

  <div class="form-grid">
    <div class="form-grid__item">
      <Reusables::TextAreaBox
        @field='What do you do for fun? Your hobbies/interests?'
        @name='hobbies'
        @placeHolder='Tell us about your hobbies and interests...'
        @required={{true}}
        @value={{this.data.hobbies}}
        @onInput={{this.inputHandler}}
      />
      <div class="word-count" data-test-word-count="hobbies">{{this.wordCount.hobbies}}/{{this.stepValidation.hobbies.max}} words</div>
      {{#if this.errorMessage.hobbies}}
        <div class='error__message' data-test-error="hobbies">{{this.errorMessage.hobbies}}</div>
      {{/if}}
    </div>

    <div class="form-grid__item">
      <Reusables::TextAreaBox
        @field='Fun fact about you'
        @name='funFact'
        @placeHolder='Share something interesting about yourself...'
        @required={{true}}
        @value={{this.data.funFact}}
        @onInput={{this.inputHandler}}
      />
      <div class="word-count" data-test-word-count="funFact">{{this.wordCount.funFact}}/{{this.stepValidation.funFact.max}} words</div>
      {{#if this.errorMessage.funFact}}
        <div class='error__message' data-test-error="funFact">{{this.errorMessage.funFact}}</div>
      {{/if}}
    </div>
  </div>
</div>