<div class="step-container">
  <div class="form-header__text">
    <h1 class="section-heading">{{@heading}}</h1>
    <p class="section-instruction">{{@subHeading}}</p>
  </div>

  <Reusables::InputBox
    @field="Phone Number"
    @name="phoneNumber"
    @placeHolder="+91 80000 00000"
    @type="tel"
    @required={{true}}
    @value={{this.data.phoneNumber}}
    @onInput={{this.inputHandler}}
    @variant="input--full-width"
  />
  {{#if this.errorMessage.phoneNumber}}
    <div
      class="error__message"
      data-test-error="phoneNumber"
    >{{this.errorMessage.phoneNumber}}</div>
  {{/if}}

  {{#each this.socialFields as |social|}}
    {{#if (or (not social.showFlag) (get this social.showFlag))}}
      <div class="input-box input--full-width">
        <label class="social-field-label" for={{social.key}}>
          {{social.key}}
          {{#if social.required}}
            <span>*</span>
          {{/if}}
        </label>

        <div class="social-input-wrapper">
          <span class="social-input-prefix">
            {{this.getSocialPrefix social.key}}/
          </span>
          <input
            name={{social.key}}
            class="social-input-field"
            type="text"
            id={{social.key}}
            placeholder="username"
            value={{get this.data social.key}}
            required={{if social.required "required"}}
            {{on "input" this.inputHandler}}
          />
        </div>
      </div>

      {{#if (get this.errorMessage social.key)}}
        <div class="error__message">
          {{get this.errorMessage social.key}}
        </div>
      {{/if}}
    {{/if}}
  {{/each}}
</div>