<div class="step-container">
    <div class="form-header__text">
        <h1 class="form-header__heading">{{this.heading}}</h1>
        <p class="form-header__subheading">{{this.subHeading}}</p>
    </div>

    <Reusables::InputBox
    @field='Your skills'
    @name='skills'
    @placeHolder='Enter your key skills...'
    @type='text'
    @required={{true}}
    @value={{this.data.skills}}
    @onInput={{this.inputHandler}}
    />
    {{#if this.errorMessage.skills}}
    <div class='error__message'>{{this.errorMessage.skills}}</div>
    {{/if}}

    <Reusables::InputBox
    @field='Your institution/company'
    @name='company'
    @placeHolder='Institution or company name'
    @type='text'
    @required={{true}}
    @value={{this.data.company}}
    @onInput={{this.inputHandler}}
    />
    {{#if this.errorMessage.company}}
    <div class='error__message'>{{this.errorMessage.company}}</div>
    {{/if}}

    <Reusables::TextAreaBox
        @field='Please introduce yourself'
        @name='introduction'
        @placeHolder='Tell us about yourself...'
        @required={{true}}
        @value={{this.data.introduction}}
        @onInput={{this.inputHandler}}
    />

    <div class="word-count">0/500 words</div>
    {{!-- <p class="instruction-text">Share your background, experiences, and what drives you (100-500 words)</p> --}}

    {{#if this.errorMessage.introduction}}
        <div class='error__message'>{{this.errorMessage.introduction}}</div>
    {{/if}}
</div>